*,
*::before,
*::after {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}
nav {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
}
nav > ul,
nav >ul >li {
    outline: 0;
}
nav > ul >li > a {
    text-decoration: none;
}

.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    overflow: hidden;
    background-color: rgba(30, 31, 37, 0.7) ;
    transition: width .2s linear;
    -webkit-transition: width .2s linear;
    z-index: 10;
    padding-top: 30px;

}

.main-menu:hover {
    width: 180px;
    overflow: visible;
}

.main-menu > ul >li {
    position: relative;
    display: block;
    width: 180px;
}

.main-menu > ul >li > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 1rem;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    padding: 10px 0;
}

.nav-icon {
    width: 60px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    object-fit: contain;
    transition: all .1s linear;
}

.nav-text {
    width: 120px;
    height: 20px;
    font-family: "Mulish", sans-serif;
    transition: all .2s linear;
}
.nav-text:hover{
    width: 150px;
    height: 20px;
    transition: all .2s linear;
}

.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}
